::ng-deep body{
  background-image: url(/bg_image.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}
.container {
    height: 100%;
  }

input:focus{
    outline: none;
    box-shadow: none;
}
.text-red{
  color: red;
}